.pc {
    @include sp {
        display: none;
    }
}

.sp {
    display: none;
    @include sp {
        display: block;
    }
}

.logo {
    width: 155px;
    position: absolute;
    top: 26px;
    right: calc(50% + 470px);
    z-index: 10;

    @media screen and (max-width: 1300px) {
        width: 140px;
        right: inherit;
        top: 20px;
        left: 3%;
    }

    @include sp {
        width: 100px;
        top: 10px;
    }
}

.kv {
    max-width: 2000px;
    margin: 0 auto;
}

.leading {
    font-family: "Sawarabi Mincho", serif;
    text-align: center;
    color: #60382C;
    padding: 80px 0 50px;
    background: linear-gradient(90deg, #e0daba 0 50%, #d5e2d0 50% 100%);

    @include sp {
        padding: 50px 4% 30px;
    }

    .leading__inner {
        margin: 0 auto;

        .leading__txt {
            font-size: 22px;
            line-height: 3.8rem;

            @include sp {
                font-size: 16px;
                text-align: left;
                line-height: 2rem;
            }
        }
    }
}

.leading__list {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0 10%;

    @include sp {
        flex-direction: column;
        gap: 40px 10%;
    }

    .leading__listItem {

        @include sp {
            margin: 0 auto;
        }
        .leading__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: opacity 0.7s;

            &:hover {
                opacity: 0.6;
            }

            .leading__img {
                max-width: 400px;
                width: 100%;
                margin-left: 40px;

                @include sp {
                    margin-left: 0;
                }
            }

            .leading__ttl {
                height: 70px;
                margin: 0 auto 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &.leading__ttl--pudding {
                    width: 50%;

                    @include sp {
                        width: 45%;

                        & .sp {
                            width: 70%;
                            margin: 0 auto;
                        }
                    }
                }

                &.leading__ttl--muscat {
                    width: 60%;

                    @include sp {
                        width: 70%;
                    }
                }
            }

            .leading__intro {
                font-size: 16px;
                line-height: 2rem;
                color: #60382c;

                @include sp {
                    font-size: 14px;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

.cm {
    padding: 40px 20px;
    background: url(../images/bg_line.png) repeat, linear-gradient(90deg, #e0daba 0 50%, #d5e2d0 50% 100%);

    @include sp {
        padding: 40px 0;
    }

    .cm__ttl {
        text-align: center;
        font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";
        font-size: 18px;
        letter-spacing: 0.5rem;
        margin-bottom: 40px;

        @include sp {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .cm__ttlImg {
            display: block;
            width: 290px;
            margin: 0 auto 10px;

            @media screen and (max-width: 500px) {
                width: 200px;
                margin: 10px auto 15px;
            }
        }
    }
}

.cm__list {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 40px;

    @media screen and (width < 1020px) {
        justify-content: center;
    }

    @include sp {
        gap: 20px 40px;
    }

    .cm__listItem {
        width: 300px;
        text-align: center;

        @include sp {
            width: 270px;
        }

        .cm__link {

            &:hover {
                .cm__linkImg {
                    transform: scale(1.1);
                }
            }

            figure {
                overflow: hidden;
                border-radius: 20px;
                margin-bottom: 20px;

                @include sp {
                    border-radius: 10px;
                    margin-bottom: 10px;
                }

                .cm__linkImg {
                    border-radius: 20px;
                    transition: transform 0.3s;

                    @include sp {
                        border-radius: 10px;
                    }
                }
            }

            .cm__linkTxt {
                font-size: 18px;
                font-weight: bold;
                color: #221815;

                @include sp {
                    font-size: 14px;
                }
            }
        }
    }
}

.enjoy {
    padding: 100px 0 60px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";
    text-align: center;
    font-weight: bold;

    @include sp {
        padding: 60px 4% 30px;
    }

    .enjoy__ttl {
        width: 576px;
        font-size: 28px;
        letter-spacing: 0.5rem;
        position: relative;
        margin: 0 auto;

        @include sp {
            width: auto;
            font-size: 18px;
            padding: 0 8%;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../images/line.png) no-repeat;
            background-size: contain;
            width: 50px;
            height: 100px;
            top: -5%;
            left: -15%;

            @include sp {
                height: 80px;
                top: 13%;
                left: -3%;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            background: url(../images/line.png) no-repeat;
            background-size: contain;
            width: 50px;
            height: 100px;
            transform: scale(-1, 1);
            top: -5%;
            right: -15%;

            @include sp {
                height: 80px;
                top: 13%;
                right: -3%;
            }
        }
    }

    .enjoy__img {
        width: 100%;
        max-width: 800px;
        margin: 20px 4% 0 0;

        @include sp {
            transform: translateX(-2%);
        }
    }

    .enjoy__txt {
        font-size: 18px;
        line-height: 2.5rem;
        border-top: 4px dotted $yellow;
        margin-top: 60px;
        padding-top: 20px;

        @include sp {
            font-size: 14px;
            text-align: left;
            margin-top: 30px;
        }
    }
}

.wrapper {
    background-color: $yellow;
    padding: 60px 0;
    font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";

    @include sp {
        padding: 40px 4%;
    }

    .section {
        max-width: 1000px;
        width: 100%;
        background-color: #fff;
        border-radius: 40px;
        margin: 0 auto;
        text-align: center;

        .section__ttl {
            width: 600px;
            margin: 0 auto;
            letter-spacing: 0.5rem;
            font-size: 18px;

            @include sp {
                width: auto;
                font-size: 14px;
            }

            img {
                margin: 0 auto 10px;

                @include sp {
                    width: 290px;

                    @media screen and (width < 500px) {
                        width: 200px;
                    }
                }
            }
        }
    }

    .campaign {
        padding: 80px 0 60px;

        @include sp {
            padding: 60px 0 40px;
        }

        .campaign__ttl {
            margin-bottom: 70px;

            @include sp {
                margin-bottom: 40px;
            }
        }

        .campaign__subTtl {
            display: flex;
            height: 120px;
            font-size: 40px;
            letter-spacing: 0.2rem;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background: url(../images/bg_dot.png) repeat;
            background-size: contain;
            border-top: 2px solid $yellow;
            border-bottom: 2px solid $yellow;
            position: relative;

            @include sp {
                height: auto;
                justify-content: flex-start;
                padding-left: 40px;
                text-align: left;
                font-size: 24px;
                line-height: 2.3rem;
            }

            &::after {
                content: '';
                position: absolute;
                max-width: 200px;
                max-height: 200px;
                width: 18vw;
                height: 18vw;
                background-image: url(../images/date.png);
                background-size: 100%;
                top: 50%;
                transform: translateY(-50%);
                right: 2%;

                @include sp {
                    width: 120px;
                    height: 120px;
                    right: 0;
                }
            }
        }

        .campaign__imgBox {
            display: flex;
            justify-content: center;
            margin: 70px 0 30px;
            gap: 0 6%;

            @include sp {
                display: block;
                margin: 40px 0 20px;
            }

            .campaign__img {
                max-width: 380px;
                width: 100%;

                @include sp {
                    max-width: auto;
                    width: 80%;

                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .campaign__txt {
            width: fit-content;
            margin: 0 auto;
            font-weight: bold;

            &.campaign__txt--top {
                font-size: 18px;
                background: linear-gradient(transparent 60%, $yellow 60%);
                line-height: 1.8rem;
                letter-spacing: 0.3rem;
                margin-bottom: 20px;

                @include sp {
                    font-size: 14px;
                }

                & .campaign__txt--large {
                    font-size: 34px;

                    @include sp {
                        font-size: 28px;
                    }
                }
            }

            &.campaign__txt--bottom {
                font-size: 34px;
                line-height: 3.5rem;
                letter-spacing: 0.4rem;

                @include sp {
                    font-size: 21px;
                    line-height: 2.5rem;
                    letter-spacing: 0.25rem;
                }
            }
        }
    }

    .arrange {
        margin-top: 45px;
        padding:60px 0 0;

        .arrange__ttl {
            margin-bottom: 40px;
        }

        .arrange__txt {
            font-size: 18px;
            margin: 40px 0 50px;
            font-weight: bold;

            @include sp {
                font-size: 14px;
                text-align: left;
                padding: 0 4%;
                margin-bottom: 30px;
            }

            span {
                color: #0dac67;
            }
        }

        .arrange__btn {
            display: flex;
            max-width: 300px;
            height: 60px;
            margin: 0 auto 70px;
            border: 3px solid #ec518f;
            border-radius: 10px;
            box-shadow: 0px 7px 0 0 #ec518f;
            font-size: 18px;
            font-weight: bold;
            font-family: "Noto Sans JP";
            letter-spacing: 0.05rem;
            color: #ec518f;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.3s, transform 0.3s;

            @include sp {
                height: 50px;
                max-width: 240px;
                width: 80%;
                margin-bottom: 60px;
            }

            &:hover {
                box-shadow: none;
                transform: translateY(7px);
            }


            &::before {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/icn_instagram.png) no-repeat center center / 100% auto;
                margin: 2px 20px 0 0;
            }
        }
    }
}

.campaign__apply {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 50px 5% 0;
    border-top: 4px dotted $yellow;
    text-align: left;
    justify-content: space-between;
    align-items: center;

    @include sp {
        display: block;
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 0.2rem;
    }

    .campaign__applyInner {

        .campaign__applyTtl {
            margin:30px 0 15px;
            }

        .campaign__applyList {
            @include sp {
                margin-bottom: 20px;
            }

            .campaign__applyListItem {
                display: flex;
                width: 100%;

                .campaign__applyNumber {
                    font-size: 16px;
                    width: 100px;
                    height: fit-content;
                    padding: 0 10px;
                    background-color: #000;
                    color: #fff;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include sp {
                        font-size: 12px;
                        height: 22px;
                        width: 80px;
                    }
                }

                .campaign__applyTxt {
                    width: calc(100% - 110px);
                    margin: 0 0 15px 10px;

                    @include sp {
                        width: calc(100% - 90px);
                    }

                    span {
                        display: block;
                        font-size: 16px;

                        @include sp {
                            font-size: 12px;
                        }
                    }
                }
                &:last-child {
                    .campaign__applyTxt {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }

    .campaign__applyBtn {
        display: flex;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        color: #221815;
        letter-spacing: 0.5rem;
        background-color: $yellow;
        border-radius: 60px;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        padding: 3px 0;

        @include sp {
            display: block;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.arrange__detail {
    padding: 80px 0;
    border-top: 4px solid $yellow;
    background: url(../images/bg_box.png) repeat;
    border-radius: 0 0 40px 40px;

    @include sp {
        padding: 50px 4%;
        border-radius: 0 0 40px 40px;
    }

    .arrange__detailList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 4%;

        @include sp {
            gap: 25px 4%;
        }

        .arrange__detailListItem {
            max-width: 400px;
            width: 100%;
        }
    }
}

.modal {

    a {
        z-index: 10;
        font-size: 28px;
        line-height: 35px;
        font-family: Arial, Baskerville, monospace;
        color: #95979c;


        &:hover {
            color: #2b2e38;
        }

    }

    .modal__cm {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 10;

        &.isActive {
            opacity: 1;
            visibility: visible;
        }

        .modal__cmInner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform:translate(-50% , calc(-50% - 17px));
            max-width: 900px;
            width: 98%;

            a {
                display: block;
                text-align: right;
            }

            iframe {
                aspect-ratio: 16 / 9;
                width: 100%;
                height: 100%;


            }


        }
    }

    .modal__apply {
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(235, 195, 62, 0.8);
        transition: opacity 0.4s, visibility 0.4s;

        &.isActive {
            opacity: 1;
            visibility: visible;
        }

        .modal__applyInner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform:translate(-50% , -50%);
            width: 100%;
            max-width: 790px;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
            background-color: #fff;

            a {
                position: absolute;
                right: 20px;
                font-size: 30px;
                line-height: 30px;

                @include sp {
                    right: 10px;
                }
            }

            .modal__applyImg {
                padding: 20px;
                height: 85vh;
                overflow-y: scroll;

                @include sp  {
                    padding: 30px 10px 10px;
                }
            }

            @include sp {
                max-width: 770px;
                width: 96%;
            }
        }
    }

    .modal__arrange {
        position: relative;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(235, 195, 62, 0.8);
        transition: opacity 0.4s, visibility 0.4s;

        &.isActive {
            opacity: 1;
            visibility: visible;
        }

        .modal__arrangeInner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform:translate(-50% , -50%);
            width: 98%;
            max-width: 790px;
            border-radius: 2px;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
            background-color: #fff;

            @include sp {
                max-width: 770px;
                width: 97%;
                max-height: 85vh;
            }

            a {
                position: absolute;
                top: 0;
                right: 20px;
                font-size: 30px;
                line-height: 30px;
            }

            .modal__arrangeImg {
                padding: 20px;
                max-height: 85vh;

                @include sp {
                    padding: 30px 10px 10px;
                    overflow-y: scroll;
                }
            }
        }
    }
}

.btnTop {
    position: fixed;
    width: 45px;
    bottom: 30px;
    right: 5%;
    overflow: hidden;
    pointer-events: none;

    img {
        transform: translateY(45px);
        transition: transform 0.3s;
        border-radius: 50%;
    }

    @include sp {
        width: 30px;
        right: 10px;
    }

    &.isShow {
        bottom: 30px;
        pointer-events: auto;

        img {
            transform: none;
        }

        &.isStop {
            position: absolute;
            bottom: 20px;
        }
    }
}

.footer {
    padding-top: 30px;
    border-top: #b8318d 5px solid;
    text-align: center;

    @include sp {
        padding-top: 20px;
    }

    .footer__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        font-size: 16px;

        @media screen and (max-width:1100px) {
            padding: 0 3%;
        }

        @include sp {
            font-size: 14px;
            padding: 0;
        }

        .footer__listItem {
            padding: 0 15px;

            .footer__listItemLink {
                transition: color 0.3s;

                &:hover {
                    color: #783576;
                }
            }
        }

        &.footer__list--top {

            .footer__listItem {
                border-right: 1px solid #000;
                margin-bottom: 30px;

                @media screen and (max-width:1100px) {
                    margin-bottom: 10px;
                }

                @include sp {
                    padding-top: 3px;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        &.footer__list--sns {
            margin-bottom: 30px;

            .footer__listItem {
                position: relative;

                .footer__listItemLink {
                    .footer__img {
                        max-width: 35px;
                    }
                }

                &.footer__popupTrigger:hover {

                    .footer__popupMenuInner {
                        height: 63px;

                        @include sp {
                            height: 76px;
                        }
                    }
                }

                .footer__popupMenuInner {
                    position: absolute;
                    top: 0;
                    right: -120px;
                    height: 0px;
                    overflow: hidden;
                    transition: height 0.3s;

                    @media screen and (max-width:1300px) {
                        top: 100%;
                        right: 0;
                    }

                    .footer__popupMenu {
                        background-color: #fff;
                        border: rgb(31, 161, 242) 2px solid;
                        border-radius: 10px;
                        width: 120px;

                        @include sp {
                            width: 150px;
                            padding: 5px 0;
                        }

                        .footer__popupMenuItem:hover {
                                background-color: rgba(31, 161, 242, 0.2);
                        }

                        .footer__popupMenuLink {
                            display: inline-block;
                            font-size: 12px;
                            line-height: 1.3;
                            padding: 2px 5px;

                            @include sp {
                                font-size: 14px;
                                padding: 5.5px 10px;
                            }
                        }
                    }
                }
            }
        }

        &.footer__list--bottom {
            margin-bottom: 50px;

            @media screen and (max-width:1100px) {
                margin-bottom: 30px;
            }

            @include sp {
                margin-bottom: 30px;
            }

            .footer__listItem {
                margin-bottom: 10px;

                @include sp {
                    padding-top: 3px;
                }
            }
        }
    }

    .footer__copyright {
        font-size: 14px;
        color: #fff;
        background-color: #000;
        padding: 10px 0;

        @include sp {
            font-size: 12px;
            padding: 3px 5%;
        }
    }
}