.buttonWrap {
    @include WidthConfig;
    text-align: center;
    margin-bottom: 100px;

    & .buttonBriefing {
        @include button($height:138px ,$radius:20px);
        width: 790px;
        display: block;
        margin: 0 auto 61px;
        box-shadow: 0 16px 0 #FBBE00;
        transition: box-shadow 0.3s, transform 0.3s;
        position: relative;

        @include bp {
            width: 95%;
        }

        & .buttonBriefing--pointer {
            position: absolute;
            bottom: -50px;
            right: 0;

            @include bp {
                bottom: -60px;
                @include imgVw(84);
            }
        }


        &:hover {
            box-shadow: 0 0;
            transform: translateY(16px);
        }
        
        & .buttonBriefing__link {
            font-size: 54px;
            font-weight: bold;
            text-decoration: none;
            color: #050F5D;

            @include bp {
                @include fontVw(52)
            }
        }


    }
    & .buttonConsult {
        width: 790px;
        @include button($height:105px);
        @include buttonArrow;
        transition: background-color 0.3s;

        @include bp {
            width: 95%;
        }

        &:hover {
            background-color: #FFF;
        }

        & .buttonConsult__link {
            font-size: 46px;
            color: #050F5D;
            font-weight: bold;
            text-decoration: none;

            @include bp {
                @include fontVw(42);
            }
        }
    }
}
