.header {
    width: 100%;
    z-index: 10;

    .header__logo {
        background-image: url(../images/logo.png);
        background-size: 100%;
        text-indent: -999px;
        width: 128px;
        height: 31px;
        position: fixed;
        top: 25px;
        left: 55px;
        z-index: 10;

        @include sp {
            position: absolute;
            width: 85px;
            height: 18px;
            top: 20px;
            left: 20px;
        }
    }

    .header__list {
        display: flex;
        width: 380px;
        position: fixed;
        right: 0;
        background-color: #fff;
        border-bottom: 1px solid $borderGray;
        border-left: 1px solid $borderGray;
        z-index: 10;

        @include sp {
            display: none;
        }

        .header__listItem {
            width: 50%;
            @include hoverOpacity;

            &:last-child {
                background-color: #c7a93f;
            }

            .headerListItem__link {
                display: flex;
                justify-content: center;
                min-height: 80px;
                gap: 0 10px;
                padding: 12px 15px;
                align-items: center;
                text-align: center;
                font-weight: 700;
            }

            .headerListItem__link--document {

                &::before {
                    content: '';
                    display: block;
                    background-image: url(../images/icon_document.svg);
                    width: 16px;
                    height: 21px;
                }
            }

            .headerListItem__link--order {
                color: #fff;

                &::before {
                    content: '';
                    display: block;
                    background-image: url(../images/icon_orderform.svg);
                    width: 22px;
                    height: 18px;
                }
            }
        }
    }
}